demo.dtd

<?xml version="1.0" encoding="UTF-8?">
<!ELEMENT product(products+)>
<!ELEMENT products(name,price,category,availablity)>
<!ELEMENT name(#PCDATA)>
<!ELEMENT price(#PCDATA)>
<!ELEMENT catrgory(#PCDATA)>
<!ELEMENT Quantity(#PCDATA)>
<!ELEMENT products pid ID #REQUIRED>
<!ELEMENT Lang(c|cobol|java) "java">
